.component-maior-menor {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 74px 20px 0px;
    background: rgb(248, 249, 250);
}

.component-maior-menor button {
    margin: 0px 10px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.component-maior-menor button:nth-child(1){
    color: red;
    opacity: 0.5;
}

.component-maior-menor button:nth-child(2){
    color: green;
    opacity: 0.5;
}

.container-body-imoveis{
    padding: 0px 20px;
    background: rgb(248, 249, 250);
}

.container-body-cards-imoveis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}